*{
	margin:0;
	padding:0;
}




/*Font style for all*/
body, #main-menu {
	font-family: 'Fredoka One', sans-serif, cursive;
	color: #723A27;
}

h1, h2, h3 {
	font-family: 'Patrick Hand', cursive;
	color: #8F2F23; 
	font-weight:bold; 
	
}

body, #lang-ind {
	background-color: #BBA084;
}

#thislang h2, #thislang h3 {
	font-family: 'Patrick Hand', sans-serif, cursive;
	color: #3E1B14;
}

/*Logo*/
#logo img{
	margin-left: 0;
	width: 50%;
	padding: 10px;
}
/*Main Menu Home Page */

#main-menu {
	display:block;
	float: center;
	margin-top:0.5em;
	margin-bottom:1em;
	background-color:rgba(255, 255, 255, 0.5);

}

#main-menu ul{
	padding:0.5em;
	text-align:center;
	border-top-style: ridge; 
	border-top-width: 3px; 
	border-bottom-style:ridge; 
	border-bottom-width: 3px; 

}



#main-menu li {
	list-style:none;

}

#main-menu a {
	display:block;
	color:#3E1B14;
	text-decoration:none;
	padding: 0.5em 1.2em;
	text-shadow:rgba(0,0,0,0.5) 0 1px 0;
	transition:background 1.5s;
	font-size: 32px; 
}

#main-menu a:hover {
	/*background:#8F2F23; */
	color:#8F2F23; 
	
}

#main-menu li.current a {
	font-weight:bold; 
	color:#8F2F23;
	
}


#signin {
	margin:2em;

}

#signin a {
	display:inline-block;
	float:right;
	clear:both;
	/*color:black;*/
	text-decoration:none;
	text-align:center;
	color:white;
	padding: 1em 1.2em;
	margin-right:2em;
	background-color:#8F2F23;
	width: 10%;
	border-radius: 8px; 
}


/*Language landing page */

#languages {
	display:flex;
	flex-wrap: wrap;
	justify-content:center; 


}

#languages div {
	border: #3E1B14 solid;
	margin: 2em;
	padding:0.5em;


}

#languages img {

	padding:2em;


}



	@media only screen and (min-width:800px) {
	}

/*single language page*/

#thisLang {
	display:flex; 
	margin:1em; 
}

#thisLang div {
	width:50%; 
}

#langName {
	margin-bottom: 2em;
}

#langMain button {
	margin-top: 2em;
	width:30%; 
	background-color:#8F2F23; 
	border:#8F2F23; 
}

/*Learn page*/ 

#learn #gamebuttons {
	display: flex; 
	justify-content:space-between; 
	text-align:center; 
	padding:5em; 
}


#interaction button {
	/*margin-top: 2em;
	margin-bottom: 2em;
	padding: 3em; 
	width:25%;*/
	background-color:#723A27
	border:#8F2F23;
}


#learn {
	display: block;
	margin-top: 5em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.bodyContent {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Main menu home page */
#main-menu ul {
	display:flex;
	justify-content:center;
	text-align:left;
	display:flex;
	justify-content:center;
	text-align:left;
}

#figure {
    height: 90%;
}