*{
	margin:0;
	padding:0;
}




/*Font style for all*/
body, #main-menu {
	font-family: 'Fredoka One', sans-serif, cursive;
	color: #723A27;
}

h1, h2, h3 {
	font-family: 'Patrick Hand', cursive;
	color: #8F2F23;
	font-weight:bold;

}

body, #lang-ind {
	background-color: #BBA084;
}

#thislang h2, #thislang h3 {
	font-family: 'Patrick Hand', sans-serif, cursive;
	color: #3E1B14;
}

/*Logo*/
#logo img{
	margin-left: 0;
	width: 50%;
	padding: 10px;
}

/*Homepage picture*/
#homepage-pic {
	display:block;
	width: 90%;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
}

/*Main Menu Home Page */

#main-menu {
	display:block;
	float: center;
	margin-top:0.5em;
	margin-bottom:1em;
	background-color:rgba(255, 255, 255, 0.5);

}

#main-menu ul{
	padding:0.5em;
	text-align:center;
	/*border-top-style: ridge;
	border-top-width: 3px;
	/*border-bottom-style:ridge;
	border-bottom-width: 3px;*/

}



#main-menu li {
	list-style:none;

}

#main-menu a {
	display:block;
	color:#3E1B14;
	text-decoration:none;
	padding: 0.5em 1.2em;
	text-shadow:rgba(0,0,0,0.5) 0 1px 0;
	transition:background 1.5s;
	font-size: 32px;
}

#main-menu a:hover {
	/*background:#8F2F23;*/
	color:#8F2F23;

}

#main-menu li.current a {
	font-weight:bold;
	color:#8F2F23;

}

#signin {
	margin:2em;
}

#signin a {
	float:right;
	clear:both;
	/*color:black;*/
	text-align:center;
	padding: 1em 1.2em;
	margin-right:2em;
	background-color:#8F2F23;
	width: 100%;
	border-radius: 8px;
	color:white;
	text-decoration:none;
}

header {
	display: flex;
	flex-direction: row;
}

/*Language landing page */

#languages {
	display:flex;
	flex-wrap: wrap;
	justify-content:center;


}

#languages div {
	border: #3E1B14 solid;
	margin: 1em;
	padding:0.5em;


}

#languages img {

	padding:1em;


}



	@media only screen and (min-width:800px) {
	}

/*single language page*/

#thisLang {
	display:flex;
	margin:1em;
	padding:1em;

}

#thisLang h2 {
	text-align:center;
	color:#3E1B14;

}

#thisLang p {
	font-family: 'Patrick Hand', sans-serif, cursive;
	color: #3E1B14;
	font-size:20px;
}

#thisLang div {
	width:50%;
	padding: 1.5em;
	text-align:justify;
}

#langName {
	margin-bottom: 2em;
}

#lang-ind #word-list {
	display:block;
	margin-left:40%;
	width:100%;
	padding-bottom:2em;




}

#lang-ind .word_list_but {

	text-align:center;
	padding:1em;
	width:20%;
	background-color:#8F2F23;
	border:#8F2F23;
	font-family: 'Fredoka One', sans-serif, cursive;
	color:white;

}

#langMain #langName {
	text-align:center;
}

#langMain #hello {
	text-align:center;
}


.record {

	font-family: 'Patrick Hand', sans-serif, cursive;
	color: #3E1B14;
	background-color: #ffcc66;
<<<<<<< HEAD

	margin: 0.2em;
	width:18%;
=======
	margin: 0.2em;
	width:18%;

>>>>>>> df75d1c85d4a622d8cc96863f54d6879486fcf71
}

.record p {
	font-size:24px;
	text-align:left;

}
#records {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}


/*Learn page*/

#learn #gamebuttons {
	display: flex;
	justify-content:space-between;
	text-align:center;
	padding:5em;
}


#interaction button {
	/*margin-top: 2em;
	margin-bottom: 2em;
	padding: 3em;
	width:25%;*/
	background-color:#723A27
	border:#8F2F23;
}


#learn {
	display: block;
	margin-top: 5em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8);/* Black w/ opacity */


}

/* Modal Content/Box */
.bodyContent {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	text-align: center;
}

#selectLang {
	display: flex;
	margin-left: 3%;
	margin-right: 3%;
	justify-content: space-evenly;
}

#selectLang button {
	flex-basis: 200px;
}

#start {
	padding:1em;
	padding-bottom:2em;
	background-color: #ffcc66;
}

#start p {
	margin-top: 1em;

}

#start p:first-child {
	font-size:22px;
}

.startQuiz {
	width: 30%;
	margin: auto;
}
#quizName {
	padding-bottom:1em;
}

#quiz {
	padding:1em;
	background-color: #ffcc66;
	display: none;
}

#quiz form {
	margin: 2% auto;
}

#finish {
	display: none;
	margin: auto;
	width: 30%;
}

#nextQuestion  {
	background-color:#8F2F23;
	color: white;
	margin: auto;
	width: 30%;
}


#quizImg {

	border:ridge 5px;
	border-color:#8F2F23;
}

#quizContainer {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*Quiz alerts */

.alert-wrong {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert-correct {
	padding: 20px;
    background-color: green;
    color: white;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.answers:hover {
	cursor: pointer;
}

/*Color of the body parts pop-up */
#bodyModal .bodyContent {
	background-color: #BBA084;
}

#words .bodyContent {
		background-color: #ffcc66;
		border: solid black;
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Main menu home page */
#main-menu ul {
	display:flex;
	justify-content:center;
	text-align:left;
	display:flex;
	justify-content:center;
	text-align:left;
}

#figure {
    height: 90%;
}
