*{
	margin:0;
	padding:0;
}




/*Font style for all*/ 
body, #main-menu, #languages h1 {
	font-family: 'Fredoka One', sans-serif, cursive;
	color: #723A27;
}

body {
	background-color: #BBA084; 
}

#thislang h2, #thislang h3 {
	font-family: 'Patrick Hand', sans-serif, cursive;
	color: #3E1B14;
}

/*Logo*/
#logo img{
	margin-left: 0;
	width: 50%;
	padding: 10px;
}
/*Main Menu Home Page */

#main-menu {
	display:block;
	float: center;
	margin-top:0.5em;
	margin-bottom:1em;
	background-color:rgba(255, 255, 255, 0.5);

}

#main-menu ul{
	padding:2em;
	text-align:center;

}



#main-menu li {
	list-style:none;

}

#main-menu a {
	display:block;
	color:#3E1B14;
	text-decoration:none;
	padding: 0.5em 1.2em;
	text-shadow:rgba(0,0,0,0.5) 0 1px 0;
	transition:background 1.5s;
}


#signin {
	margin:2em;

}

#signin a {
	display:inline-block;
	float:right;
	clear:both;
	/*color:black;*/
	text-decoration:none;
	text-align:center;
	color:white;
	padding: 1em 1.2em;
	margin-right:2em;
	background-color:#8F2F23;
	width: 10%;
}


/*Language landing page */

#languages {
	display:flex;
	flex-wrap: wrap;
	margin-left:8%;


}

#languages div {
	border: #3E1B14 solid;
	margin: 2em;
	padding:0.5em;


}

#languages img {

	padding:2em;


}



	@media only screen and (min-width:800px) {
	}

/*single language page*/

#thisLang {
	display: flex;
	margin-left: 5em;
	margin-right: 5em;
	text-align: center;
	color: #3E1B14;
}

#langMain {
	width: 50%;
}

#langGames {
	width: 50%;
}

#langName {
	margin-bottom: 2em;
}

#langMain button {
	margin-top: 2em;
}

#langGames div {
	margin-top: 2em;
	margin-bottom: 2em;
}

#vl {
	border: 2px #3E1B14 solid;
	margin-top: 2em;
	margin-bottom: 2em;
}

#interaction {
	margin: auto;
	width: 25%;
}

#communities {
	display: block;
	margin-top: 5em;
}

/*Main menu home page */
#main-menu ul {
	display:flex;
	justify-content:center;
	text-align:left;
	display:flex;
	justify-content:center;
	text-align:left;
}


